{% extends 'base.html' %}

{% block conteudo %}
<h1 class="mt-5">Minha agenda</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Celular</th>
      <th>e-mail</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for c in key_contato %}
      <td>
        <a href="{% url 'detail' c.id %}"> {{ c.nome }}</a>
      </td>
      <td>{{ c.cel }}</td>
      <td>{{ c.email }}</td>
      <td>{{ c.categoria }}</td>
    </tr>
        {% endfor %}
  </tbody>
</table>
{% endblock %}